@import url(https://fonts.googleapis.com/css?family=Oswald:600);
.so-widget-sow-button-flat-6a3e61cb5511 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-flat-6a3e61cb5511 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-flat-6a3e61cb5511 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-flat-6a3e61cb5511 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Oswald;
  font-weight: 600;
  font-size: 1.3em;
  padding: 0.5em 1em;
  background: #4da83b;
  color: #ffffff !important;
  border: 1px solid #4da83b;
  border-width: 1px 0;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-flat-6a3e61cb5511 .ow-button-base a:visited,
.so-widget-sow-button-flat-6a3e61cb5511 .ow-button-base a:active,
.so-widget-sow-button-flat-6a3e61cb5511 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-flat-6a3e61cb5511 .ow-button-base a.ow-button-hover:hover {
  background: #54b740;
  border-bottom-color: #4ba43a;
  color: #ffffff;
}