.so-widget-sow-image-default-94a6ed97340c .widget-title {
  text-align: center;
}
.so-widget-sow-image-default-94a6ed97340c .sow-image-container .so-widget-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}