
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /CubCreekScienceCamp/CubCreekScienceCampWebsite/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /CubCreekScienceCamp/CubCreekScienceCampWebsite/index.php [L]
</IfModule>

# END WordPress